:root{
  --oscuro: #242F41;
  --claro: #f4f4f4;
  --titulos: #F28F02;
  --verde: #508D86;
  --rosa: #C37C7C;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--oscuro);
  color: white;
  font-family: 'Open Sans', sans-serif;
}
p{
   margin: 1rem 0;
   font-family: 'Courgette', cursive;
}
h1{
  margin: 0;
  user-select: none;
}
.text-center {
  text-align: center;
  margin: auto;
}
h1, .title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px black;
  color: var(--titulos);
}
.logo, h1{
  cursor: crosshair;
}
.header-content .titulo, .header-content .text {
  display: none;
}
.link{
  text-decoration: none;
  font-weight: 700;
  color: var(--titulos);
}
.link:hover{
  text-decoration: underline;
  color: inherit;
}

/*HEADER*/
.header{
  position: relative;
}
.fondo{
  height: 100vh;
  width: 100%;
  background-image: url('img/Computer-Tech.jpg');
  background-size: cover;
  background-position: center;
}
.blur10{
  background-repeat: no-repeat;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms
}
.blur2{
  background-repeat: no-repeat;
  filter: blur(1px);
  -webkit-filter: blur(3px);
}
.header-content {
  position: absolute;
  width: 254px;
  left: calc(50% - 127px);
  height: fit-content;
  top: 0;
  top: calc(50% - 130px);
  text-align: center;
  transition: all 1000ms;
}
.header-content .logo {
  /* height: 100%; */
  width: 100%;
  filter: drop-shadow(-2px -2px 2px white);
}
.header-content .text {
  line-height: 1.7;
  margin-top: 1rem;
  display: none;
}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem 3rem;
}
.blog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.linea{
  width: 50%;
  height: 3px;
  margin: 0 auto;
  border: 2px solid var(--verde);
  border-radius: 6px;
  background-color: var(--verde);
}
.grid-3, .grid-2 {
  grid-template-columns: 1fr;
}
.bg-light {
  background: var(--claro);
  color: var(--oscuro);
}
.bg-dark {
  background: var(--oscuro);
  color: var(--claro);
}
.services div {
  padding: 1.4rem 1rem;
}
footer {
  padding: 2.2rem;
}
footer p {
  display: inline;
  font-family: 'Special Elite', cursive;
  font-weight: 600;
}

/* RESPONSIVE */
@media (min-width: 720px) {
  .header-content .titulo, .header-content .text {
    display: block;
  }
  .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*or repeat(3, 1fr)*/
    grid-gap: 20px;
  }
  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .services {
    padding: 4rem 0 0;
  }
  .fondo{
    height: 70vh;
  } 
  .header-content {
    top: calc(50% - 300px)
  }
  .header-content .text {
    display: block;
  }
}

/* Móvil en horizontal */
@media(min-height: 376px) {
  .header-content .titulo{
    display: block;
  }
  .fondo{
    height: 75vh;
  }
  .header-content{
    top: calc(50% - 170px);
  }
}